 .wrapper
 {
     width: auto;
  margin: 30px;
  padding: 20px;
  
 }
 .solid{
     border-style:solid;border-width:20px;border-color: crimson;
     border-radius: 25px;
     background-color:cornsilk;
 }
h1,h2{
    background-color:#90ee90;
    color:rgb(0,0,139);
}
#head{
    text-align: center;
    text-decoration-color:hsl(0,100%,50%,1.0);
}
p,ul{
    font-size: 20px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    padding:20px;
}
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }